<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @actualizacion.user %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @actualizacion.peso %>
</p>

<p>
  <strong>Dieta:</strong>
  <%= @actualizacion.dieta %>
</p>

<p>
  <strong>Cardio:</strong>
  <%= @actualizacion.cardio %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @actualizacion.talla %>
</p>

<p>
  <strong>Muscular:</strong>
  <%= @actualizacion.muscular %>
</p>

<p>
  <strong>User:</strong>
  <%= @actualizacion.user_id %>
</p>

<%= link_to 'Edit', edit_actualizacion_path(@actualizacion) %> |
<%= link_to 'Back', actualizacions_path %>
