<p id="notice"><%= notice %></p>

<p>
  <strong>Peso inicial:</strong>
  <%= @ficha.peso_inicial %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @ficha.altura %>
</p>

<p>
  <strong>Idm:</strong>
  <%= @ficha.idm %>
</p>

<p>
  <strong>Peso ideal:</strong>
  <%= @ficha.peso_ideal %>
</p>

<p>
  <strong>Peso objetivo:</strong>
  <%= @ficha.peso_objetivo %>
</p>

<p>
  <strong>Talla inicial:</strong>
  <%= @ficha.talla_inicial %>
</p>

<p>
  <strong>Talla objetivo:</strong>
  <%= @ficha.talla_objetivo %>
</p>

<p>
  <strong>Ejercicio:</strong>
  <%= @ficha.ejercicio %>
</p>

<p>
  <strong>User:</strong>
  <%= @ficha.user %>
</p>

<%= link_to 'Edit', edit_ficha_path(@ficha) %> |
<%= link_to 'Back', fichas_path %>
